<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ImapServer" value="imap.gmail.com"/>
    <add key ="UserId"  value="jayasreetestemail@gmail.com"/>
    <add key="Password" value="7Ywy7N[S"/>
  </appSettings>
</configuration>