@{
    ViewData["Title"] = "Project List Page";
}

<div class="row">
    <div class="col-md-3">
        <table>
            <tr><th>Project Title </th><th>Phase</th><th>Date Last Modified</th><th>Due Date</th><th>Responsible Engineer</th></tr>
            <tr><td>Solar Power Project</td><td>Macro Design</td><td>11/30/2015</td><td>2/15/2016</td><td>Amy Adams</td></tr>
            <tr><td>eBusiness Website</td><td>Solution Outline</td><td>10/30/2015</td><td>2/25/2016</td><td>Connie Charles</td></tr>
            <tr><td>Vehicle Maintenance</td><td>Build and Test</td><td>9/30/2015</td><td>3/25/2016</td><td>Demetri Douglas</td></tr>
            <tr><td>Mapping System Overhaul</td><td>Micro Design</td><td>10/30/2015</td><td>2/18/2016</td><td>Evelyn Edenborough</td></tr>
        </table>
    </div>
</div>
